html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 6em;
}

video {
    height: 100vh;
    width: 100%;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: 100vh;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home {
    height: 100%;
    background-color: #4169e1;
    color: #f9f8f8;
}

.section {
    color: #000807;
    background-color: #f9f8f8;
    height: 100%;
}

.navbar-nav>li {
    padding-left: 5vh;
}

#menu li {
    text-align: center;
    display: inline-block;
    color: #000;
    width: 8vw;
}

#menu li.active {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    height: auto;
    z-index: 70;
    width: 100%;
    padding: 5px;
}


/* 
$azure: rgba(0, 123, 255, 1);
$alice-blue: rgba(233, 245, 248, 1);
$alice-blue-2: rgba(238, 242, 248, 1);
$pacific-blue: rgba(23, 162, 184, 1);
$black-chocolate: rgba(31, 19, 0, 1); 
*/