input {
    margin: 1vh;
    background-color: green;
    border: none;
    color: white;
    padding: 2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 250px;
    font-size: 15px;
}

body{
    margin-left: calc(50vw - 125px);
}