footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.timeline {
    padding-top: 10%;
    margin: auto;
    width: 60%;
    height: auto;
}

.col-8 {
    text-align: center;
    padding-top: 2%;
}


/* .col-6 {
    border: solid;
}

.col-4 {
    border: solid;
} */

.left {
    text-align: right;
}

.right {
    text-align: left;
}

.separator {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}