footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.timeline {
    padding-top: 10%;
    margin: auto;
    width: 60%;
    height: auto;
}

.col-8 {
    text-align: center;
    margin: 2%;
}

.machine{
    padding-bottom: 5%;
}

.user{
    padding-bottom: 5%;
}

.title{
    width:100%; 
    display: inline;
}

.description{
    width:100%;
    height:300px;
    display: inline-block;
}

.argument{
    width:10%; 
    display: inline;
}

.row{
    border: 3px solid RGB(107, 117, 125);
    border-radius: 25px;
    margin-bottom: 2%;
    height:fit-content;
}

.noborder{
    border: 0;
}

.left {
    text-align: right;
}

.right {
    text-align: left;
}

.separator {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}