button {
    margin: 1vh;
    background-color: RGB(134, 41, 145);
    border: none;
    color: white;
    padding: 2vh 2vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

body {
    width: 50%;
    margin: auto;
    background-color: rgba(218, 190, 222, 1);
    font-family: 'Lato', sans-serif;
}

header {
    padding: 2%;
    width: 60%;
    height: auto;
    margin: auto;
    background-color: RGB(134, 41, 145);
}

.logo {
    width: 100%;
    height: auto;
}

.q-label {
    line-height: 1.6;
}

input {
    text-align: center;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

#first {
    padding-top: 10%;
    font-size: 2rem;
    display: grid;
    grid-template: 1fr 1fr;
}

.f-text {
    font-size: 2rem;
}